/* Giveaway Download page Style Sheet 
* Dan Shumaker 8/03/2011 */
.giveaway hr {
		color:#000;
		height:5px;
		background:black;
		border:none;
		margin:10px 0px 0px;
}

.giveaway #block-giveaway-giveaway-image-block .file-image img {
		width: 150px;
		height: 180px;
		overflow:hidden;
}

.giveaway .export {
		display:inline;
		float:right;
}

.giveaway .signin {
		margin:20px 0px;
		display:inline;
}

.giveaway .bundle {
		color:#0099ff;
		font-weight:bold;
		font-size:15px;
		line-height:15px;
		color:#0099ff;
		font-weight:bold;
		margin:5px 20px 0px 0px;
}
.giveaway .bundle hr {
		background:none;
		border-top:2.0px dotted #888;
		height:0px;
		margin:10px 10px 10px 0px;
}

.giveaway .links.inline {
		display:none;
}

.giveaway .rules,
.giveaway .field-field-past-winners .field-items,
.giveaway .field-field-subscribe .field-items,
#giveaway-entry-form {
		font-family:Georgia, serif;
		font-size:11px;
		line-height:15px;
		color:#6a6a6a;
		font-style:italic;
		margin:10px 0px 10px 160px;
}

.giveaway #gigya-sharebar {
		margin-left:0px;
		margin-top:10px;
		margin-bottom:20px;
}
div .gig-bar-container.gig-share-bar-container {
		height:20px;
}

